body {
  background-image: url("assets/images/game-background.jpg");
  background-size: cover;
}

#canvas {
  display: block;
  margin: 5px auto;
  border: 5px solid black;
}

#heading {
  position: relative;
  margin: 0 auto;
  display: block;
}

#portfolio-div{
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#github-image{
  height: 80px;
  padding: 10px;

}

#linkedin-image{
  height: 80px;
  padding: 10px;
}

@font-face {
    font-family: 'Arcade-Classic';
    src: url('ARCADECLASSIC.ttf');
}
